{% extends "layout.html" %}
{% block content %}
<div class="about-message">
    <h4>Who am I..?</h4>
    Hello I am Imran, a software developer who is enthusiastic about learning new technologies and solving complex
    engineering problems. I am currently working in a python-centric development role using the AWS cloud. My love for
    technology and coding is boundless. I am a self-starter and can work with little to no guidance and contribute
    towards the success of the project.
    <br>
    <br>
    In my 2 years of experience in software industry, I worked on two different projects in two different domains
    with a bunch of multi-cultural teams on various tech products and services!
    <br>
    <br>
    Looking forward to working with me ?
    <br>
    mail: imran.zinga000@gmail.com
    <br>
    Linkedin: <a class="github-about" href="https://www.linkedin.com/in/imran-shaik-42b724178/">Imran Shaik</a>
    <br>
    <br>
    PS: I am open to different tech stacks and technologies and am not restricted to only what I have worked with
    till now. If job demands I can learn :)
    <br>
    <h4>why Thoughts..?</h4>
    Well.., why not? I ❤️ python, it's my first programming language, and ever since I've been looking to learn more
    about it. As a part of that, I found this really minimalistic python web framework, FLASK and hence I built this!
    <br>
    Is there a better way to improve the code I have written? even better found a bug..? Please be a Dear and file an
    issue on <a class="github-about" href="https://github.com/Imran-456/thoughts">Github</a>, or even better, submit a
    PR to fix that!
    <br>
    Happy coding folks!
</div>
{% endblock %}